# python junk
*.pyc
*__pycache__
*.pytest_cache
*.idea

# jupyter checkpoints
*-checkpoint.ipynb

# visuals
*.png
*.gif

# LaTeX junk
*.pdf
*.aux
*.log

# bulky stuff
*.zip
*.csv
*.tsv
*.json

# Julia stuff
*Manifest.toml

